/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body {
  font-family: 'Courgette', cursive;/*insert googlefont's instruction*/
}

nav .nav-wrapper {
    padding: 0px 50px;
}

nav .brand-logo {
  color: #444;
  font-family: 'Mr Dafoe', cursive;
  font-size: 2.5rem;
}

nav ul a {
  color: #444;
  font-family: 'Mr Dafoe', cursive;
  font-size: 1.5rem;  
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: black;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  font-family: 'Permanent Marker', cursive;
}

.section-intro{
  height: 100%;
  width: 100%;
}

.header{
  margin-top: 15%;
}

.header-sub{
  margin-top: 5%;
}

.col-servizio{
  margin-top: 60px;
  margin-bottom: 60px;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.btn-registrazione{
  font-size: 1.5em;
  height: 2.5em;
  width: 50%;
  font-family: 'Courgette', cursive;
}

.btn-data{
  font-size: 1.5em;
  height: 2.5em;
  width: 25%;
  font-family: 'Courgette', cursive;
}

.section-registrazione {
  width: 100%;
  height: 100%;
}

.social-icon{
  font-size: 1.5em;
  color: #fff;
  padding: 0 20px;
}

.social-icon:hover {
  color: blue;
}

footer .page-footer {
  margin: 0;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

  nav .nav-wrapper{
    padding: 0px 10px;
  }
}

@media only screen and (min-width: 993px){
  .row .col.l4 {
    margin-left: 150px;
  }
}

.form{
  display:inline-block;
  text-decoration:none;
  background-color:#267DDD;
  color:white;
  cursor:pointer;
  font-family:Helvetica,Arial,sans-serif;
  font-size:20px;
  line-height:50px;
  text-align:center;
  margin:0;
  height:50px;
  padding:0px 33px;
  border-radius:25px;
  max-width:100%;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  font-weight:bold;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}